<html>

<head>
<style>
    .glyphicon.glyphicon-remove{
        color: red;
    }

    .glyphicon.glyphicon-ok{
        color: green;
    }
</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <!-- firebase angular code -->
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.js"></script>
    
    <script>
        angular.module('calcApp', ['firebase'])

            .controller('calcCtrl', function ($scope, $firebaseObject) {

                $scope.bCorrect = function(question){
                    if((question.bTrue && question.bSwitch == "true") || question.bFalse && question.bSwitch == "false"){
                        return false;
                    }else{
                        return true;
                    }
                }
                $scope.bIncorrect = function(question){
                    if((question.bTrue && question.bSwitch == "false") || question.bFalse && question.bSwitch == "true"){
                        return false;
                    }else{
                        return true;
                    }
                }
                $scope.bCorrect2 = function(question){
                    if(question.nCorrect && question.nCorrect ==  Number(question.nBits)){
                        return false;
                    }else{
                        return true;
                    }
                }
                $scope.bIncorrect2 = function(question){
                    if(question.nCorrect && question.nCorrect != Number(question.nBits)){
                        return false;
                    }else{
                        return true;
                    }
                }
                $scope.fGrade = function(){
                    var nMark = 0;
                    for(var n = 0; n < $scope.questions.length; n++){
                        var oQuestion = $scope.questions[n];
                        if((oQuestion.nOctet4_1 & oQuestion.nMask4) == ( oQuestion.nOctet4_2 & oQuestion.nMask4)){
                            oQuestion.bTrue = true;
                        }else{
                            oQuestion.bFalse = true;
                        }
                        if(oQuestion.bTrue && oQuestion.bSwitch == "true"){
                            nMark++;
                        }else if(oQuestion.bFalse && oQuestion.bSwitch == "false"){
                            nMark++;
                        }
                    }
                    for(var n = 0; n < $scope.questions2.length; n++){
                        var oQuestion = $scope.questions2[n];
                        if((oQuestion.nOctet4_1 & 240) == ( oQuestion.nOctet4_2 & 240)){
                            oQuestion.nCorrect = 28;
                        }else if((oQuestion.nOctet4_1 & 224) == ( oQuestion.nOctet4_2 & 224)){
                            oQuestion.nCorrect = 27;
                        }else if((oQuestion.nOctet4_1 & 192) == ( oQuestion.nOctet4_2 & 192)){
                            oQuestion.nCorrect = 26;
                        }else if((oQuestion.nOctet4_1 & 128) == ( oQuestion.nOctet4_2 & 128)){
                            oQuestion.nCorrect = 25;
                        }else{
                            oQuestion.nCorrect = 24;
                        }

                        if(oQuestion.nCorrect == Number(oQuestion.nBits)){
                            nMark++;
                        }
                    }
                    $scope.sMark = nMark + "/" + ($scope.questions.length + $scope.questions2   .length);
                    window.parent.API.LMSInitialize("");
                    var sStudentId = window.parent.API.LMSGetValue("cmi.core.student_id");
                    var nScore = Math.round(nMark/($scope.questions.length + $scope.questions2.length)*100);
                    if(window.parent.API.LMSSetValue("cmi.core.score.raw", nScore)){
                        console.log(window.parent.API.LMSGetLastError() )
                    }
                    var ref = new Firebase("https://dazzling-heat-1553.firebaseio.com/assignment3/" + sStudentId + "/");
                    $scope.oGrade = $firebaseObject(ref);
                    $scope.oGrade.$loaded().then(function(){
                        $scope.oGrade.raw = nScore;
                        $scope.oGrade.$save();
                    }).catch(function(err){
                        console.log(err);
                    });
                }
                $scope.fInit = function(){
                    $scope.questions = [];
                    for(var nQuestion = 0; nQuestion < 5; nQuestion++){
                        var oQuestion ={
                            nOctet1: Math.floor(Math.random() * (223-192)) + 192,
                            nOctet2: Math.floor(Math.random() * 255),
                            nOctet3: Math.floor(Math.random() * 255),
                            nOctet4_1: Math.floor(Math.random() * 255),
                            nOctet4_2: Math.floor(Math.random() * 255),
                            nCidr: Math.floor(Math.random() * (32-26)) + 24
                        }
                        oQuestion.sNetwork1 = oQuestion.nOctet1 + "." + oQuestion.nOctet2 + "." + oQuestion.nOctet3 + "." + oQuestion.nOctet4_1 + "/" +  oQuestion.nCidr;
                        oQuestion.sNetwork2 = oQuestion.nOctet1 + "." + oQuestion.nOctet2 + "." + oQuestion.nOctet3 + "." + oQuestion.nOctet4_2 + "/" +  oQuestion.nCidr;
                        oQuestion.nMask4 = 0;
                        for(var n = 0; n < oQuestion.nCidr - 24; n++){
                                oQuestion.nMask4 += Math.pow(2, 7 - n);
                        }
                        $scope.questions.push(oQuestion);

                    }
                    $scope.questions2 = [];
                    for(var nQuestion = 0; nQuestion < 5; nQuestion++){
                        var oQuestion ={
                            nOctet1: Math.floor(Math.random() * (223-192)) + 192,
                            nOctet2: Math.floor(Math.random() * 255),
                            nOctet3: Math.floor(Math.random() * 255),
                            nOctet4_1: Math.floor(Math.random() * 255),
                            nOctet4_2: Math.floor(Math.random() * 255),
                        }
                        oQuestion.sNetwork1 = oQuestion.nOctet1 + "." + oQuestion.nOctet2 + "." + oQuestion.nOctet3 + "." + oQuestion.nOctet4_1;
                        oQuestion.sNetwork2 = oQuestion.nOctet1 + "." + oQuestion.nOctet2 + "." + oQuestion.nOctet3 + "." + oQuestion.nOctet4_2;
                        $scope.questions2.push(oQuestion);

                    }
                }
                $scope.fInit();

            });

    </script>

</head>

<body ng-app="calcApp" ng-controller="calcCtrl">
    <form class="container" ng-submit="fGrade()">
        <p class="pull-right" ng-bind="sMark"></p>
        <h2>Part 1</h2>
        <div ng-repeat="question in questions">
            <p>{{$index + 1}}) The following 2 network addresses can be connected with a switch:</p>


            <p style="text-indent: 2em">{{question.sNetwork1}} - {{question.sNetwork2}}
                <span ng-hide="bCorrect(question)" class="glyphicon glyphicon-ok" ></span>
                <span ng-hide="bIncorrect(question)" class="glyphicon glyphicon-remove" ></span>
            </p>
    
            <div class="form-group">
                <div class="radio">
                    <label>
                      <input type="radio" ng-model="question.bSwitch" name="options{{$index}}" value=true>
                      true
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="question.bSwitch" name="options{{$index}}" value=false>
                      false
                    </label>
                  </div>            
            </div>
    
        </div>
        <h2>Part 2</h2>
        <div ng-repeat="question in questions2">
            <p>{{$index + 1}}) What is the most number of network bits that can be turned on and have the following addresses on the same network:</p>


            <p style="text-indent: 2em">{{question.sNetwork1}} - {{question.sNetwork2}}
                <span ng-hide="bCorrect2(question)" class="glyphicon glyphicon-ok" ></span>
                <span ng-hide="bIncorrect2(question)" class="glyphicon glyphicon-remove" ></span>
            </p>
    
            <div class="form-group">
                <div class="radio">
                    <label>
                      <input type="radio" ng-model="question.nBits" name="options2{{$index}}" value=24>
                      24
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="question.nBits" name="options2{{$index}}" value=25>
                      25
                    </label>
                  </div>            
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="question.nBits" name="options2{{$index}}" value=26>
                      26
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="question.nBits" name="options2{{$index}}" value=27>
                      27
                    </label>
                  </div>            
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="question.nBits" name="options{{$index}}" value=28>
                      28
                    </label>
                  </div>            
            </div>
    
        </div>
        <p class="pull-right" ng-bind="sMark"></p>
        <button type="submit">Submit</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
